header {
    height: 100px;
}
.cards-section {
    font-size: 1.6rem;
    width: 97%;
}
.cards-section .text-xs {
    font-size: 1.4rem;
}
.graph-section {
    width: 98%;
}
.display {
    font-size: 1.6rem;
}