/* Valores iniciales */
:root {
    --m-blue:     #313553;
    --d-blue:     #0D6EFD;
    --m-green:    #7B9C5F;
    --soft-blue:  #bfe0f5;
    --tribunal:   rgba(25,88,82,.9);
    --red-warning:rgb(226, 34, 34);
    --light-white:#EDEDED;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: "Nunito", sans-serif;
    background-color: var(--light-white);
}
/* Fin Valores iniciales */

header {
    position: relative;
    height: 300px;
    width: 100%;
    min-width: 320px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin-bottom: 50px;
    background-color: var(--tribunal);
    padding-top: 15px;
}
.logo {
    padding: 0 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}
.logo span {
    background-image: url('../img/PJCDMX.png');
    background-size: cover;
    width: 150px;
    height: 75px;
}
.logo #btn-out {
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    background-color: rgb(226, 34, 34);
    color: white;
}
.logo #btn-out img{
    filter: invert(1);
    width: 25px;
    height: 25px;
}
.cards-section {
    margin-left: 0;
    margin-right: 0;
    margin: auto;
    margin-top: 35px;
    width: 90%;
    min-width: 288px;
    max-width: 1200px;
    font-size: 1.6rem;
}
.cards-section .text-xs {
    font-size: 1rem;
}



h6 {
    font-size: 1.6rem;
    text-align: center;
}
.graph {
    width: 90%;
    margin: 50px auto;
    text-align: center;
}
.graph__card--header {
    width: 100%;
    background-color: var(--tribunal);
    box-shadow: 1px 0px 2px var(--tribunal);
}
.graph__card--header p {
    padding: 10px;
    margin: 0;
    font-size: 1.6rem;
    color: white;
    font-weight: 600;
}
.graph__card--body {
    margin: 0px auto;
    width: 100%;
    border: 10px solid var(--tribunal);
    box-shadow: 1px 0px 2px var(--tribunal);
}
.chart-area {
    margin: 20px auto;
    width: 90%;
    height: 550px;
}

/* .graph-section {
    margin-left: 0;
    margin-right: 0;
    margin: auto;
    width: 90%;
    min-width: 288px;
    max-width: 1200px;
    font-size: 1.6rem;
} */













/* Estilos de modal  */
.field:nth-child(1) {
    padding: 1rem;
}
.field {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid var(--tribunal);
    padding-top: 0.5rem;
}
.field .preguntas {
    margin-left: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--tribunal);
    border-radius: 10px;
    padding: 1rem;
    width: 350px;
}
.field .respuestas {
    margin-right: 10px;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 10px;
    background-color: var(--tribunal);
    color: var(--light-white);
    padding: 1rem;
    width: 200px;
    text-align: center;
}
.field .juzgado {
    font-size: 1.4rem;
    font-weight: 300;
    border: 3px solid transparent;
    border-radius: 10px;
    background-color: var(--tribunal);
    color: var(--light-white);
    padding: 1rem;
    width: 100%;
    text-align: center;
}
.comentario {
    width: 300px;
    height: 100px;
    border: 3px solid var(--tribunal);
    margin-right: 0px;
    margin-left: 0;
    margin: auto;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 5px;
    color: var(--tribunal);
    padding: 1rem;
    width: 200px;
    text-align: center;
    margin-bottom: 10px;
}
.consultar {
    margin-left: 0;
    margin-right: 0;
    margin: auto;
    border: none;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--tribunal);
    color: var(--light-white);
}
.filter-select {
    padding-left: 10px;
    margin: 3px solid black;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    font-size: 1.4rem;
}
.section-table {
    padding-bottom: 50px;
}
footer {
    height: 70px;
    background-color: var(--tribunal);
}