header {
    height: 150px;
    padding-top: 0px;
}
.logo {
    padding: 0;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 50px;
}
.cards-section {
    font-size: 1rem;
    width: 92%;
}
.cards-section .text-xs {
    font-size: 1rem;
}
h6 {
    font-size: 1.8rem;
    text-align: center;
}
.graph-section {
    width: 93%;
}
.display {
    font-size: 1.4rem;
}